* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 150px;
}

.content h1 {
    text-align: center;
    color: white;
}

.result {
    width: 215px;
    height: 72px;
    padding: 25px;
    background-color: #2F3332;
    color: white;
    border-radius: 6px;
    text-align: left;
    font-size: 20px;
}

.clear {
    width: 70px;
    height: 72px;
    color: white;
    background-color: red;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: 0.2s ease-in-out;
}

.clear:hover {
    opacity: 0.9;
}

.value {
    width: 70px;
    height: 72px;
    background-color: #2F3332;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 20px;

}

.value:hover {
    opacity: 0.8;
}

tr {
    display: block;
}

/* change theme */

.change-mode {
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lightmode {
    width: 120px;
    height: 55px;
    border-radius: 10px;
    background-color: rgb(92, 224, 250);
    border: none;
    cursor: pointer;
    transition: 0.4s;
    margin-right: 22px;
}

#lightmode:hover {
    opacity: 0.8;
}

#lightmode i {
    font-size: 40px;
    color: yellow;
    background: none;
}

#darkmode {
    width: 120px;
    height: 55px;
    border-radius: 10px;
    background-color: rgb(66, 66, 66);
    border: none;
    cursor: pointer;
    transition: 0.4s;
    margin-left: 22px;
}

#darkmode i {
    font-size: 40px;
    color: white;
    background: none;
}

#darkmode:hover {
    opacity: 0.8;
}
